.customWidth {
    width: 500px!important; 
  }

  .buttonAmount {
    cursor: pointer;
    background-color: white;
    padding: 8px;
    border: none;
    margin-inline: 5px;
    font-size: 16px;
  }